<?php

switch ($_SERVER['HTTP_HOST']) {
    case 'jamjar.local.dev':
    	define('DBHOST', 'localhost');
    	define('DBUSER', 'root');
    	define('DBPASS', 'root');
    	define('DBNAME', 'jamjar');
    	
    	break;
}